[ClassicUI]
# Panneau d'état Position X
#MainWindowOffsetX=500
# Position du panneau d'état Y
#MainWindowOffsetY=40
# Taille de police
#FontSize=0
# Police
#Font=Sans
# Police du menu
#MenuFont=Sans
# Paramètres régionaux de la police à afficher
#FontLocale=zh_CN.UTF-8
# Utiliser l'icône de la barre d'état système
# Valeur disponible :
# True False
#UseTray=True
# Mode de masquage du panneau d'état
# Valeur disponible :
# Show
# Auto
# Hide when tray icon is available
# Hide
#MainWindowHideMode=Hide when tray icon is available
# Liste de mots candidats verticaux
# Valeur disponible :
# True False
#VerticalList=False
# Nom du skin
SkinType=dark

