[Auto English]
# Choisir le modificateur de clé
# Valeur disponible :
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# Ne pas afficher l'indice d'orthographe
# Valeur disponible :
# True False
#DisableSpell=False
# Longueur maximale de l'indice
#MaximumHintLength=2
# Nombre maximum de mots conservés dans la pré-édition
#MaximumKeep=3
# Ajouter un espace supplémentaire lors de la sélection d'un mot candidat
# Valeur disponible :
# True False
#SelectAddSpace=True

