[Keyboard]
# Commit avec un espace supplémentaire lors du choix du mot candidat
# Valeur disponible :
# True False
#CommitWithExtraSpace=False
# Choisir le modificateur de clé
# Valeur disponible :
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# Basculer l'indice de mot
#HotkeyToggleWordHint=CTRL_ALT_H
# Longueur minimale pour déclencher l'indice de mot
#MinimumHintLength=1
# Longueur maximale de la liste d'indices d'orthographe
#MaximumHintLength=5
# Utiliser enter pour valider la chaîne existante
# Valeur disponible :
# True False
#UseEnterToCommit=False
# Ajouter le tampon d'entrée actuel au dictionnaire utilisateur
#HotkeyAddToUserDict=CTRL_ALT_N

