[IMSelector]
# Méthode de saisie locale SelectKey
#LocalInputMethodSelectKey=
# Méthode de saisie globale SelectKey
#GlobalInputMethodSelectKey=
# Effacer la méthode de saisie locale
#ClearLocal=

[GlobalSelector]
# Passer à la première méthode de saisie
#IM1=
# Passer à la seconde méthode de saisie
#IM2=
# Passer à la troisième méthode de saisie
#IM3=
# Passer à la quatrième méthode de saisie
#IM4=
# Passer à la cinquième méthode de saisie
#IM5=
# Passer à la sixième méthode de saisie
#IM6=
# Passer à la septième méthode de saisie
#IM7=
# Passer à la huitième méthode de saisie
#IM8=
# Passer à la neuvième méthode de saisie
#IM9=

[LocalSelector]
# Passer à la première méthode de saisie
#IM1=
# Passer à la seconde méthode de saisie
#IM2=
# Passer à la troisième méthode de saisie
#IM3=
# Passer à la quatrième méthode de saisie
#IM4=
# Passer à la cinquième méthode de saisie
#IM5=
# Passer à la sixième méthode de saisie
#IM6=
# Passer à la septième méthode de saisie
#IM7=
# Passer à la huitième méthode de saisie
#IM8=
# Passer à la neuvième méthode de saisie
#IM9=

