[Clipboard]
# Enregistrer l'historique du presse-papiers dans un fichier
# Valeur disponible :
# True False
#SaveHistoryToFile=True
# Longueur de l'historique du presse-papiers à enregistrer
#HistoryLength=5
# Longueur maximale de chaque mot candidat
#CandidateMaxLength=43
# Touche de déclenchement pour la liste de l'historique du presse-papiers
#TriggerKey=CTRL_;
# Utiliser le texte de sélection
# Valeur disponible :
# True False
#UsePrimary=True
# Choisir le modificateur de clé
# Valeur disponible :
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# Ignorer les sélections vides
# Valeur disponible :
# True False
#IgnoreBlank=True

