[QuickPhrase]
# Touche de déclenchement pour QuickPhrase
# Valeur disponible :
# None
# Semicolon
# Grave
#QuickPhraseTriggerKey=Semicolon
# Clé de déclenchement alternative pour QuickPhrase
#AlternativeTriggerKey=
# Choisir le modificateur de clé
# Valeur disponible :
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# Ne pas afficher l'indice d'orthographe
# Valeur disponible :
# True False
#DisableSpell=False
# Longueur maximale de l'indice
#MaximumHintLength=2

