[X Keyboard]
# Autoriser le remplacement des paramètres système XKB
# Valeur disponible :
# True False
#OverrideSystemXKBSettings=True
# Utiliser la disposition de la première méthode de saisie au clavier dans la liste comme disposition par défaut
# Valeur disponible :
# True False
#UseFirstKeyboardIMAsDefaultLayout=True
# commande xmodmap
#XModmapCommand=xmodmap
# Appliquer ce script xmodmap personnalisé après le changement de mise en page
#CustomXModmapScript=

