[Pinyin Enhance]
# Traiter le pinyin abrégé comme de l'anglais
# Valeur disponible :
# True False
#ShortAsEnglish=False
# Autoriser le remplacement du premier candidat
# Valeur disponible :
# True False
#AllowReplaceFirst=True
# Ne pas afficher l'indice d'orthographe
# Valeur disponible :
# True False
#DisableSpell=False
# Longueur maximale de l'indice
#MaximumHintLength=1
# Raccourci pour saisir un caractère à partir d'une phrase
#InputCharFromPhraseString=[]
# Raccourci pour passer en mode Saisie de caractères à partir d'une phrase
#InputCharFromPhraseKey=
# Désactiver le symbole Pinyin
# Valeur disponible :
# True False
#DisableSym=False
# Longueur du déclencheur d'entrée de course
#StrokeThresh=2
# Résultats maximum de la saisie de trait.
#StrokeLimit=3

