@import "macchiato.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
    background: transparent;
    background-color: @crust;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#workspaces {
  border-radius: 0.5rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 0.5rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0.5rem;
}
#workspaces button:hover {
  color: @sapphire;
  border-radius: 0.5rem;
}

#custom-music,
#tray,
#clock,
#battery,
#pulseaudio,
#custom-power {
	background-color: @surface0;
	padding: 0.5rem 1rem;
	margin: 5px 0;
}

#network {
	padding: 0.5rem 1rem;
	margin: 5px 5px;
}

#cpu,
#memory,
#temperature {
	background-color: @mantle;
	color: @mauve;
	padding: 0.5rem 1rem;
	margin: 5px 0;
}	

#clock {
	color: @blue;
	border-radius: 0px 0.5rem 0.5rem 0px;
	margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0.5rem 0px 0px 0.5rem;
  margin-left: 1rem;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 0.5rem 0.5rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 0.5rem;
}
